

body{

    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;

    
}

h2{

    

}


img{
   
    width: 200px;
    height: 200px;
    border: solid 10PX black;
    border-radius: 10px;
    
    
}

